<!DOCTYPE html>
<html lang="en">
<h1>Leaderboard</h1>
<h2>May 2023</h2>
<div class="icon">

<img src="assets/VectorLeaderBoard.png" alt="Leaderboard Image">
</div>
<div class="icon-container">
    <div class="icon">
      <img src="assets/Woman 5.png" alt="Profile Picture 1">
      <p class="name">Callie Xu</p>
      <p class="points">12 </p>
    </div>
    <div class="icon">
      <img src="assets/Guy 1.png" alt="Profile Picture 2">
      <p class="name">Roger Yu</p>
      <p class="points">10 </p>
    </div>
    <div class="icon">
      <img src="assets/Guy 4.png" alt="Profile Picture 3">
      <p class="name">Jeff Yi</p>
      <p class="points">8 </p>
    </div>
    <div class="icon">
      <img src="assets/Woman 4.png" alt="Profile Picture 4">
      <p class="name">Iris Chien</p>
      <p class="points">7 </p>
    </div>
  </div>
  

<!-- <div class="users-container">
    <div class="all-users">
        <table>
          <tbody>
            <tr *ngFor="let user of user$ | async">
                <td style="font-size: 25px;">{{user.points}}</td>
              </tr>
          </tbody>
        </table>
      </div>
    </div> -->