<h1> How To Use</h1>

<p>
    The first step to using Chore.io is to make an account in the app. One user needs to create a group where all the housemates can join. After someone has created that group, that person needs to invite their house members by sharing with them the link provided through email.
    
    After everyone has joined, you can create chores by filling in the name of the chore, the due date, and its point value (1-3) based on how hard the chore is.
</p>
<p>
    There is a catch, though, If your chore becomes overdue, you can lose those points associated with that chore! But if you make up the chore, the lost points will be regained.
</p>
<p> 
    Thanks for using Chore.io!
</p>
