h1 {
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  margin-top: 100px;
}

h2 {
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
  margin-top: 15px;
}

.chores-container {
  display: flex;
}

.all-chores {
  width: 50%;
  background-color: white;
}

.your-chores {
  width: 50%;
  background-color: white;
}


p {
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

.button {
  justify-content: flex-end;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #0A3A58;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border: 1px solid white;
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}