
<!-- 
<app-navbar></app-navbar>
<app-header></app-header>
<main>
  <router-outlet></router-outlet>
</main>
<app-footer></app-footer>    -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Chore.io</title>
    <style>
      body {
        font-family: Verdana, Geneva, Tahoma, sans-serif, serif;
        background: #0A3A58;
      }

      .top-box h1 {
        margin: 0;
      }
    </style>
  </head>

  <body>
    <!-- <nav class="navbar navbar-expand navbar-dark bg-dark">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">
          <button mat-raised-button color="primary">
            <img src="https://cdn-icons-png.flaticon.com/512/60/60817.png" width="30px" height="100px">
          </button>
        </a>
        <a class="nav-item nav-link" routerLink="/">
          <button mat-raised-button color="primary" style="margin-left:50px;">
            Home
          </button>
        </a>
        <a class="nav-item nav-link" routerLink="/calendar">
          <button mat-raised-button color="primary" style="margin-left:50px;">
            Calendar
          </button>
        </a>
      </div>
    </nav>

    <!-- main content container -->
    <div class="jumbotron">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 offset-sm-2">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div> -->

    <app-root></app-root>
  </body>
</html>
