<div class="row text-center">

    <div [ngSwitch]="view">


    
        <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events">
        </mwl-calendar-week-view>
    
  
    
    </div>

    <div class="col-md-4">
        <div class="btn-group">
            <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate">
                Previous
            </div>
            <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
                Today
            </div>
            <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate">
                Next
            </div>
        </div>
    </div>

</div>


<mwl-calendar-week-view [viewDate]="viewDate">
</mwl-calendar-week-view>



