.navbar {
  display: flex;
  justify-content: flex-start; /* Change justify-content to flex-start */
  align-items: center; /* Change align-items to center */
  background-color: #0A3A58;
  height: 80px;
  padding: 0 20px;
  color: white;
}

.navbar-nav {
  display: flex;
  align-items: center;
  margin-right: auto; /* Add margin-right: auto to push buttons to the left */
}

/* 
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: left;
    background-color: #0A3A58;;
    height: 80px;
    padding: 0 20px;
    color: white;
  }
  
  .navbar-left {
    display: flex;
    align-items: left;
  }
  
  .icon {
    relative: left;
    font-size: 2rem;
    margin-right: 10px;
  } */

  
  
  /* .navbar-right {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar-right li {
    margin-left: 20px;
  }
  
  .navbar-right a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
  } */
  