<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Include any necessary external scripts or stylesheets  here -->
</head>

<body>
  <h1>My Calendar</h1>
  <div class="row text-center">
    <div class="col-md-4">
      <div class="btn-group">
        <button mat-raised-button mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate">
          Previous
        </button>
        <button mat-raised-button color="primary" mwlCalendarToday [(viewDate)]="viewDate">
          Today
        </button>
        <button mat raised-button mwlCalendarNextView [view]="view" [(viewDate)]="viewDate">
          Next
        </button>
      </div>
    </div>
    <div [ngSwitch]="view" mwlCalendarToday [viewDate]="viewDate">
      <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate"
        [events]="events"></mwl-calendar-week-view>
    </div>
  </div>

</body>

</html>