<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <!-- Include any necessary external scripts or stylesheets  here -->
    <link rel="stylesheet" type="text/css" href="calendar.component.css">
  </head>

  <body>
    <h1>My Calendar</h1>
    <div class="button" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate">
        &lt;Previous
    </div>
    <div class="button" mwlCalendarToday [(viewDate)]="viewDate">
        Today
    </div>
    <div class="button" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate">
        Next>
    </div>
    <!-- <div class="square"></div> -->
    <div class="row text-center">
      <div [ngSwitch]="view">
        <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events"></mwl-calendar-week-view>
      </div>
    </div>
  </body>
  
</html>