<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <!-- Include any necessary external scripts or stylesheets  here -->
  </head>
  <body>
    <h1>My Calendar</h1>
    <div class="row text-center">
      <div [ngSwitch]="view">
        <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events" ></mwl-calendar-week-view>
      </div>
      <div class="col-md-4">
        <div class="btn-group">
          <div class="button" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate">
            Previous
          </div>
          <div class="button2" mwlCalendarToday [(viewDate)]="viewDate">
            Today
          </div>
          <div class="button3" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate">
            Next
          </div>
        </div>
      </div>
    </div>
    
  </body>
</html>